<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Fish Species Predictor</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h1>Fish Species Predictor</h1>
    <form action="/predict" method="post">
        <label for="weight">Weight:</label>
        <input type="text" id="weight" name="weight"><br><br>
        <label for="length1">Length1:</label>
        <input type="text" id="length1" name="length1"><br><br>
        <label for="length2">Length2:</label>
        <input type="text" id="length2" name="length2"><br><br>
        <label for="length3">Length3:</label>
        <input type="text" id="length3" name="length3"><br><br>
        <label for="height">Height:</label>
        <input type="text" id="height" name="height"><br><br>
        <label for="width">Width:</label>
        <input type="text" id="width" name="width"><br><br>
        <input type="submit" value="Predict">
    </form>
    <div id="result">{{ prediction }}</div>
</body>
</html>
